<template>
  <div class="about-stats">
    <div>
      <div class="left-top-border">
        <div class="is-size-2 is-size-0-touch about-stats__title">30</div>
        <div>человек работает в компании</div>
      </div>
    </div>
    <div>
      <div class="left-top-border">
        <div class="is-size-2 is-size-0-touch about-stats__title">5000</div>
        <div>построено объектов с нашим участием</div>
      </div>
    </div>
    <div>
      <div class="left-top-border">
        <div class="is-size-2 is-size-0-touch about-stats__title">80%</div>
        <div>клиентов обращаются к нам повторно</div>
      </div>
    </div>
    <div>
      <div class="left-top-border">
        <div class="is-size-2 is-size-0-touch about-stats__title">24</div>
        <div>географические точки по Иркутской области мы покрыли</div>
      </div>
    </div>
    <div>
      <div class="left-top-border">
        <div class="is-size-2 is-size-0-touch about-stats__title">4</div>
        <div>страны обслуживает Цельсий</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "AboutStats"
}
</script>

<style scoped>

</style>
