<template>
  <Page>
    <Header v-slot:header/>
    <div class="section about-firstscreen">
      <div class="section__full">
        <div class="about-firstscreen__content">
          <div>
            <Breadcrumbs>
              <Breadcrumb href="/">
                Главная
              </Breadcrumb>
            </Breadcrumbs>
            <h1 class="has-text-white">
              О компании
            </h1>
          </div>
          <AboutStats class="is-hidden-touch" />
        </div>
      </div>
    </div>
    <div class="section is-hidden-desktop">
      <div class="section__full">
        <AboutStats />
      </div>
    </div>
    <div class="section with-divider">
      <div class="section__full">
        <Staff />
      </div>
    </div>
    <div class="section with-divider">
      <div class="section__full">
        <h2 class="has-text-black">Хотите стать частью команды?</h2>
        <p class="pt-6">
          Возможно, мы ищем именно вас, смотрите <Link href="/vacancies" :icon="null">вакансии</Link>.
        </p>
      </div>
    </div>
    <FeedbackSection />
  </Page>
</template>

<script>
import Page from "@/components/Page";
import Header from "@/layouts/header/Header";
import Breadcrumb from "@/components/Breadcrumb";
import Breadcrumbs from "@/components/Breadcrumbs";
import AboutStats from "@/pages/about/AboutStats";
import Staff from "@/components/Staff";
import Link from "@/components/Link";
import FeedbackSection from "@/layouts/FeedbackSection";

export default {
  name: "index",
  components: {FeedbackSection, Link, Staff, AboutStats, Breadcrumbs, Breadcrumb, Header, Page}
}
</script>

<style scoped>

</style>
