.page-404 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include desktop {
    text-align: center;
    min-height: 100vh;
    padding: rem-calc(64px) rem-calc(72px) rem-calc(56px) rem-calc(72px);
  }
  @include touch {
    justify-content: space-between;
    padding: rem-calc(36px, true) rem-calc(24px, true) rem-calc(40px, true) rem-calc(24px, true);
    border-top: rem-calc(8px, true) solid $accent;
    min-height: 100vh;
  }

  &__logo {
    text-align: left;
  }

  &__content {
    text-align: center;
    @include desktop {
      flex: 1 0;
      margin: rem-calc(-122px) auto 0 auto;
      width: rem-calc(576px);
    }
    @include touch {
      flex: 0 1;
    }
    & p {
      @include desktop {
        margin-top: rem-calc(40px);
      }
      @include touch {
        margin-top: rem-calc(40px, true);
      }
    }
    & .base-link {
      @include desktop {
        margin-top: rem-calc(0px);
      }
      @include touch {
        margin-top: rem-calc(8px, true);
      }
    }
  }

  &__footer {
    text-align: left;
    @include desktop {
      flex: 0 1;

    }
  }
}
