.about-firstscreen {
  @include desktop {
    height: rem-calc(960px);
    background-image: url("/img/about/firstscreen-bg-gradient.png"), url("/img/about/firstscreen-bg.png");
    background-size: cover;
  }
  @include touch {
    height: rem-calc(270px, true);
    background-image: url("/img/about/firstscreen-bg-mobile.png");
    background-size: contain;
  }


  & .breadcrumbs {
    & div.item a {
      color: white;
      border-bottom: 1px solid $link-white-underline;

      &:hover {
        border-bottom: 1px solid white
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include desktop {
      height: rem-calc(960px - 111px);
    }
  }
}

.about-stats {
  display: flex;
  @include desktop {
    margin: 0 rem-calc(-12px);
    color: white;
  }
  @include touch {
    flex-wrap: wrap;
    margin: rem-calc(-8px, true);
  }
  & > div {
    @include desktop {
      flex: 0 1 rem-calc(300px);
      padding: 0 rem-calc(12px)
    }
    @include touch {
      flex: 0 1 rem-calc(148px, true);
      padding: rem-calc(8px, true);
    }
  }

  & .left-top-border {
    @include desktop {
      border-left: 1px solid rgba(255, 255, 255, .25);
      border-top: 1px solid rgba(255, 255, 255, .25);
    }
  }
  &__title {
    @include desktop {
      color: white
    }
    @include touch {
      color: black
    }
  }
}

.staff {
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    margin: rem-calc(-77px) rem-calc(-12px)
  }
  @include touch {
    margin: rem-calc(-80px, true) rem-calc(-8px, true) rem-calc(-40px, true) rem-calc(-8px, true);
  }
  &__item {
    flex: 1 1 33.33%;
    @include desktop {
      padding: rem-calc(77px) rem-calc(12px);
    }
    @include touch {
      padding: rem-calc(40px, true) rem-calc(8px, true);
    }
  }
}
