.contact-map {
  position: absolute;
  @include desktop {
    width: rem-calc(928px);
    height: rem-calc(752px);
  }
}

.section-map {
  padding: 0 !important;
  position: relative;
}

.contacts {
  //border-bottom: 1px solid $grey;
  @include desktop {
    padding: rem-calc(63px) 0 rem-calc(72px) 0;
  }
  @include touch {
    padding: rem-calc(0px) 0 rem-calc(80px, true) 0;
  }
}

.contact-item {
  border-top: 1px solid $grey;
  &:first-child {
    @include touch {
      border-top: none !important;
    }
  }
  @include desktop {
    padding: rem-calc(32px) 0;
  }
  @include touch {
    padding: rem-calc(32px, true) 0;
  }
  display: flex;
  &__icon {
    &:before {
      content: ' \25CF';
      @include desktop {
        font-size: rem-calc(39px);
        line-height: rem-calc(24px);
      }
      @include touch {
        font-size: rem-calc(28px, true);
        line-height: rem-calc(20px, true);
      }
    }
    &.accent {
      color: $accent;
    }
    &.surface {
      color: $surface;
    }
    @include desktop {
      flex: 0 1 rem-calc(48px);
    }
    @include touch {
      flex: 0 1 rem-calc(32px, true);
    }
  }
  &__content {
    flex: 1 0;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    & > a {
      display: inline-block;
      @include desktop {
        flex: 0 1;
        padding-right: rem-calc(26px);
      }
      @include touch {
        flex: 1 1 100%;
      }
    }
  }
}

.contact-map-mobile-container {
  position: fixed;
  left: 0;
  top:0;
  width: 100vw;
  height: 100vh;
}
