.screen-feedback {
  @include desktop {
    padding: 0 rem-calc(40px) 0 rem-calc(40px);
  }
  @include touch {
    padding: rem-calc(40px, true) rem-calc(24px, true) rem-calc(80px, true) rem-calc(24px, true);
  }
  & .column-3-4 {
    @include desktop {
      padding-top: rem-calc(56px);
    }
    @include touch {
      padding-top: rem-calc(40px, true);
    }
  }
  &__cont {
    display: flex;
    align-items: center;
    @include touch {
      flex-wrap: wrap;
    }
  }
  &__text {
    @include desktop {
      width: rem-calc(876px);
      font-size: $size-4;
    }
    @include touch {
      width: 100%;
      font-size: $size-touch-4;
    }
  }
  &__smeta {
    @include touch {
      &:before {
        content: " ";
        display: block;
        //width: 100vw;
        height: rem-calc(1px, true);
        margin-left: rem-calc(-24px, true);
        margin-right: rem-calc(-24px, true);
        background-color: $grey;
        margin-bottom: rem-calc(40px, true);
      }
      //border-top: 1px solid $grey;
    }
  }
}
