div.footer {
  background-color: $surface;
  @include desktop {
    display: flex;
    height: rem-calc(960px);
    padding: rem-calc(56px) rem-calc(40px) rem-calc(144px) rem-calc(40px);
  }
  position: relative;
}

.footer-menu {
  line-height: rem-calc(64px);

  & > div {
    padding-bottom: rem-calc(24px);
  }
  & a {
    color: white;
  }
  & a:hover, & a.active {
    color: $link-light;
  }
}

.footer-left {
  height: 100%;

  & > .columns {
    height: 100%;
  }
}

.footer-left, .footer-right {
  display: flex;
  flex-direction: column;

  & > div:first-child {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.footer-right {
  @include touch {
    padding: rem-calc(40px, true) rem-calc(24px, true) rem-calc(40px, true) rem-calc(24px, true)
  }

  &__copyright {
    @include touch {
      padding-top: rem-calc(144px, true);
    }
  }
}

.footer-media-links {
  @include desktop {
    margin-top: rem-calc(17px);
  }
  @include touch {
    margin-top: rem-calc(18px, true);
  }
  display: flex;
  align-items: center;

  & > a {
    @include desktop {
      padding-right: rem-calc(25px);
    }
    @include touch {
      padding-right: rem-calc(15px, true);
    }
  }
}

.footer-requisite {
  @include desktop {
    padding-top: rem-calc(150px);
  }
  @include touch {
    padding-top: rem-calc(35px, true);
  }

  p {
    @include desktop {
      //margin-bottom: rem-calc(16px);
    }
    @include touch {
      //margin-bottom: rem-calc(8px, true);
    }
  }
}
