.photo-slider {
  &__container {
    width: 100%;
    overflow: hidden;
    position: relative;
    @include desktop {
      height: rem-calc(480px);
    }
    @include touch {
      height: rem-calc(186px, true);
    }
  }

  &__row {
    position: absolute;
    white-space: nowrap;
    transition: left .5s ease-in-out;
  }

  &__item {
    display: inline-block;
    overflow: hidden;
    @include desktop {
      width: 50%;
    }

    & img {
      width: 100%;
    }
  }

  &__control {
    user-select: none;
    text-align: center;
    color: $surface;

    & > a, & > div {
      display: inline-block;
    }

    @include desktop {
      margin-top: rem-calc(32px)
    }
    @include touch {
      margin-top: rem-calc(18px, true)
    }
  }

  &__left {
    background: url("/img/icons/arrow-left-surface.svg") no-repeat;
    background-size: cover;
    @include desktop {
      width: rem-calc(14px);
      height: rem-calc(14px);
      margin-right: rem-calc(38px);
    }
    @include touch {
      width: rem-calc(14px, true);
      height: rem-calc(14px, true);
      margin-right: rem-calc(30px, true);
    }
  }

  &__right {
    background: url("/img/icons/arrow-left-surface.svg") no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    @include desktop {
      width: rem-calc(14px);
      height: rem-calc(14px);
      margin-left: rem-calc(38px);
    }
    @include touch {
      width: rem-calc(14px, true);
      height: rem-calc(14px, true);
      margin-left: rem-calc(30px, true);
    }
  }
}
