.suggest-search {
  text-align: left;
  &.on_first_screen {
    padding-top: rem-calc(20px);
    position: absolute;
    transition: top 0.3s linear;
    transition-delay: 0s;
    top: rem-calc(812px);
    width: rem-calc(683px);
    &.search_active {
      top: rem-calc(43px);
      transition-delay: 0.3s;
    }
  }

  &__head {
    display: flex;
    align-items: center;

    & > img {
      flex-shrink: 1;
      flex-grow: 0;
      //width: rem-calc(24px);
    }

    & > .control {
      display: inline-block;
      border: none !important;
      flex-shrink: 0;
      flex-grow: 1;
    }

    & input {
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      color: white;
      @include desktop {
        padding: 0 0 0 rem-calc(6px);
        font-size: $size-5;
      }
      @include touch {
        padding: 0 0 0 rem-calc(6px, true);
        font-size: $size-touch-5;
      }
      &::placeholder {
        color: rgba(255, 255, 255, 0.5)
      }
    }
  }
  &__result {
    color: white;
    @include desktop {
      margin-left: rem-calc(15px + 6px);
    }
    @include touch {
      margin-left: rem-calc(20px + 6px, true);
    }
    & .result-item {
      display: block;
      color: white;
      &:hover {
        color: white;
      }
      @include desktop {
        padding: rem-calc(16px) 0;
      }
      @include touch {
        padding: rem-calc(16px, true) 0;
      }
      border-bottom: 1px solid $link-white-underline;
    }
  }
}
