.article-wrapper__container {
  .article-table {
    &__body {
      @include desktop {
        margin-left: rem-calc(-270px);

        & > .columns {
          & > .column:first-child {
            padding-left: rem-calc(270px + 12px);
          }
        }
      }
    }
  }
}

.article-table {
  @include touch {
    overflow-x: auto;
    max-width: rem-calc(312px, true);
  }
  &__title {
    @include desktop {
      //margin-top: rem-calc(80px);
      margin-bottom: rem-calc(48px);
    }
  }

  &__header {
    font-weight: 700;
  }

  &__body {
    @include desktop {
      //margin-left: rem-calc(-270px);
    }

    @include touch {
      display: table;
      min-width: rem-calc(1024px, true);
      //& > .columns {
      //  min-width: rem-calc(768px, true);
      //
      //}
    }

    & > .columns {
      border-bottom: 1px solid $grey;
      flex-wrap: nowrap;
      @include desktop {
        margin: 0 rem-calc(-12px);
      }
      @include touch {
        display: table-row;
      }
    }

    & > .columns > .column {
      @include desktop {
        padding: rem-calc(24px) rem-calc(12px);
      }
      @include touch {
        &.is-half {
          width: 50%;
        }
        display: table-cell;
      }
      //padding-left: rem-calc(270px);
    }
  }
}
