@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";
@import "../../../node_modules/bulma/sass/helpers/spacing";
@import "functions";

$family-sans-serif: Railway, sans-serif;
$size-1: rem-calc(80px);
$size-2: rem-calc(56px);
$size-3: rem-calc(28px);
$size-4: rem-calc(28px);
$size-5: rem-calc(20px);
$size-6: rem-calc(16px);

$size-touch-0: rem-calc(36px, true);
$size-touch-1: rem-calc(32px, true);
$size-touch-2: rem-calc(24px, true);
$size-touch-3: rem-calc(20px, true);
$size-touch-4: rem-calc(20px, true);
$size-touch-5: rem-calc(16px, true);
$size-touch-6: rem-calc(12px, true);

$text: #4F4F4F;
$light: #4F4F4F;
$black: #000000;
$accent: #ED2224;
$accent-light: #FFA1A2;
$surface: #2B4DA1;
$link: #2b4da1;
$link-underline: rgba(43, 77, 161, 0.25);
$link-white-underline: rgba(255, 255, 255, 0.25);
$link-main-underline: rgba(79, 79, 79, 0.25);
$link-light: #98B5FD;
$grey: #EAEAEA;
$disabled: #BBBBBB;

$spacing-values: (
  "0": 0,
  "1": rem-calc(8px),
  "2": rem-calc(16px),
  "3": rem-calc(24px),
  "4": rem-calc(32px),
  "5": rem-calc(40px),
  "6": rem-calc(56px)
  //"0": 0,
  //"1": 0.25rem,
  //"2": 0.5rem,
  //"3": 0.75rem,
  //"4": 1rem,
  //"5": 1.5rem,
  //"6": 3rem
);

@import "../../../node_modules/bulma/sass/utilities/derived-variables";

$addColors: (
  "accent":($accent),
  "accent-light":($accent-light),
  "surface":($surface),
  "surface-light": ($link-light)
);
@import "../../../node_modules/bulma";
