<template>
  <Page class="landing">
    <MainHeader v-slot:header></MainHeader>
    <div>
      <Screen1 />
      <Screen2 />
      <Screen3 />
      <Screen4 />
      <Screen5 />
      <Screen6 />
    </div>
  </Page>
</template>

<script>
import Page from "../../components/Page";
import MainHeader from "@/layouts/header/MainHeader";
import Screen1 from "@/pages/main/Screen1";
import Screen2 from "@/pages/main/Screen2";
import Screen3 from "@/pages/main/Screen3";
import Screen4 from "@/pages/main/Screen4";
import Screen5 from "@/widgets/Screen5";
import Screen6 from "@/pages/main/Screen6";

import Vue from 'vue';
export default {
  name: "main",
  components: {
    Screen1,
    Screen6,
    Screen5, Screen4, Screen3, Screen2, MainHeader, Page},
  mounted() {
    Vue.set(window, 'menu_opened', false);
    Vue.set(window, 'focus_on_menu_search', false);
  }
}
</script>

<style scoped>

</style>
