<template>
  <div class="first-screen-catalog">
    <div class="first-screen-catalog__list" :class="{'hide_by_search': search_active}">
      <div class="is-bold has-text-white">
        Каталог оборудования
      </div>
      <div class="first-screen-catalog__menu">
        <div v-for="item in items">
          <Link
            :href="item.href"
            color="link-white"
            icon="caret"
            @mouseenter="set_active_item(item)"
            @mouseleave="clear_active_item(item)"
          >{{ item.text }}</Link>
        </div>
      </div>
    </div>
    <BaseSuggestSearch
      class="is-hidden-touch"
      on_first_screen
      v-on:search_init="search_init"
      v-on:search_close="search_close"
      :base_url="base_url"
    />
    <div class="suggest-search__head is-hidden-desktop">
      <img src="/img/icons/lens.svg" class="has-text-white icon-button"/>
      <div class="control">
        <input class="input" type="text" placeholder="Поиск по каталогу" @click="open_menu">
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Link from "@/components/Link";
import BaseSuggestSearch from "@/components/BaseSuggestSearch";
import equipment from "@/mixins/equipment";

export default {
  name: "MainCatalog",
  props: ["card_ref", "base_url"],
  components: {BaseSuggestSearch, Link},
  mixins: [equipment],
  data() {
    return {
      search_active: false,
      active_item_name: undefined,
    }
  },
  computed: {

  },
  mounted() {
    function getPosition(element) {
      let xPosition = 0;
      let yPosition = 0;

      while (element) {
        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
        element = element.offsetParent;
      }

      return {x: xPosition, y: yPosition};
    }

    // console.log(getPosition(this.$refs.search_wrapper));
    // this.$refs.search_wrapper.style.top = "500px";
  },
  methods: {
    set_active_item(item) {
      this.active_item_name = item.name;
      this.$emit("item_active", item);
    },
    clear_active_item(item) {
      this.active_item_name = undefined;
      this.$emit("no_item_active");
      // setTimeout(() => {
      // }, 300)
    },
    search_init() {
      this.search_active = true;
      this.$emit("search_init", this.search_active);
    },
    search_close() {
      this.search_active = false;
      this.$emit("search_close", this.search_active);
    },
    open_menu() {
      window.focus_on_menu_search = true;
      // window.menu_opened = true;
      const menu_element = document.querySelector('#header-hamburger');
      menu_element.click();
    }
  }
}
</script>

<style>

</style>
