<template>
  <div class="first-screen cont columns is-gapless is-align-items-flex-end">
    <div class="column is-7">
      <div class="first-screen-pipes is-hidden-touch"></div>
      <div class="cont-touch">
        <h2 class="has-text-black first-screen-slogan">
        <span class="is-hidden-touch">
          Проектируем и&nbsp;поставляем системы отопления и&nbsp;водоснабжения с&nbsp;2011 года
        </span>
          <span class="is-hidden-desktop">
          Проектируем<br>и&nbsp;поставляем системы<br>отопления<br>и&#160;водоснабжения<br>с&nbsp;2011&nbsp;года
        </span>
        </h2>
        <p class="has-text-light is-hidden-touch pt-6">
          Сделаем это и для вас. Закажите расчет сметы!
        </p>
        <p class="has-text-light is-hidden-desktop pt-3-touch">
          Сделаем это и для вас.<br>Закажите расчет сметы!
        </p>
        <Link href="#feedback" class="pt-4 pt-2-touch">Заказать расчет</Link>
      </div>
    </div>
    <div class="column is-5 align">
      <MainMenuCatalog/>
    </div>
  </div>
</template>

<script>
import MainMenuCatalog from "@/widgets/FirstScreenRight";
import Link from "@/components/Link";

export default {
  name: "Screen1",
  components: {Link, MainMenuCatalog}
}
</script>

<style scoped>

</style>
