<template>
  <div class="screen-garants">
    <div class="landing-screen">
      <h2 class="has-text-white">
        Гарантии качества
      </h2>
      <div class="screen-garants__content has-text-white">
        <h3>
          Более 11 лет поставляем оборудование безупречного качества для систем отопления и водоснабжения.
        </h3>
        <div class="pt-4 pt-3-touch">
          <DistributorsInlineList />
        </div>
        <div class="pt-4 pt-3-touch">
          Собственное сборочное производство и сервисный центр теплообменного оборудования Funke и Ридан.
        </div>
        <div class="pt-4 pt-3-touch">
          <Link href="#feedback" color="link-white" class="is-size-3 is-hidden-touch">
            Подобрать техническое решение
          </Link>
          <Link href="#feedback" color="link-white" class="is-size-4-touch is-hidden-desktop">
            Подобрать техническое<br>решение
          </Link>
        </div>
      </div>
    </div>
    <!--    <div-->
    <!--      class="distributor-card"-->
    <!--      :class="[{'active': !!active_distributor}]"-->
    <!--    >-->
    <!--      <template v-if="!!active_distributor">-->
    <!--        <img :src="active_distributor.img"/>-->
    <!--        <p class="pt-2">{{ active_distributor.description }}</p>-->
    <!--      </template>-->
    <!--    </div>-->
  </div>
</template>

<script>
import Link from "@/components/Link";
// import danfos from "/img/landing/distributors_certs/danfos.png"
// import grundfos from "/img/landing/distributors_certs/grundfos.png"
// import Funke from "/img/landing/distributors_certs/Funke.png"
// import ALSO from "/img/landing/distributors_certs/ALSO.png"
// import kan from "/img/landing/distributors_certs/KAN-Therm.png"
// import ridan from "/img/landing/distributors_certs/ridan.png"
// import Volcano from "/img/landing/distributors_certs/Volcano.png"
// import RedPopup from "@/components/RedPopup";
import DistributorsInlineList from "@/widgets/DistributorsInlineList";

export default {
  name: "Screen3",
  components: {Link, DistributorsInlineList},
}
</script>

<style>

</style>
