<template>
  <FeedbackSection />
<!--  <div class="landing-screen screen-feedback" id="feedback">-->
<!--    <div class="screen-feedback__cont">-->
<!--      <div class="column-3-4 with-divider">-->
<!--        <h2 class="has-text-black">Обращайтесь!</h2>-->
<!--        <div class="screen-feedback__text pt-5">Получите экспертизу, подтвержденную 9-летним<br class="is-hidden-desktop">опытом и, как результат,-->
<!--          наиболее выгодное и технически верное решение-->
<!--        </div>-->
<!--        <FeedbackForm />-->
<!--      </div>-->
<!--      <div class="column-1-4 screen-feedback__smeta">-->
<!--        <h3 class="has-text-black">-->
<!--          Уже есть готовая смета?-->
<!--        </h3>-->
<!--        <p class="pt-4">-->
<!--          Отправьте её нам-->
<!--          <Link href="mailto:vlad@htmlbook.ru" :icon="undefined">info@celsiy.pro</Link>-->
<!--          или свяжитесь с нами по телефону-->
<!--          <a href="tel:+7 (3952) 920-905" class="has-text-black">+7 (3952) 920-905</a>-->
<!--          и мы бесплатно улучшим её без потерь в качестве и с большей выгодой для вас!-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</template>

<script>
import FeedbackSection from "@/layouts/FeedbackSection";
export default {
  name: "Screen6",
  components: {FeedbackSection}
}
</script>

<style>

</style>
