<template>
  <Page>
    <Header v-slot:header/>
    <ContactsSection />
    <FeedbackSection/>
  </Page>
</template>

<script>
import Page from "@/components/Page";
import Header from "@/layouts/header/Header";
import Breadcrumb from "@/components/Breadcrumb";
import Breadcrumbs from "@/components/Breadcrumbs";
import FeedbackSection from "@/layouts/FeedbackSection";
import ContactsSection from "@/widgets/ContactsSection";

export default {
  name: "index",
  components: {ContactsSection, FeedbackSection, Breadcrumbs, Breadcrumb, Header, Page}
}
</script>

<style scoped>

</style>
