<template>
  <PageCase name="ridan">
    <template v-slot:problem>
      <p>
        Вид воздуховода. Обычно встречаются круглые и прямоугольные воздуховоды. Важно, чтобы система вентиляции
        вписалась в уже существующую схему, т. к. иначе ее эффективность может снизиться.
      </p>
    </template>
    <template v-slot:solution>
      <p>
        При установке вентиляционных систем важно выбирать современные производительные и надежные модели. Если
        вы планируете приобрести вентиляционное оборудование и системы вентиляции, обратите внимание на следующие
        моменты при покупке:
      </p>
      <ul>
        <li>
          Тип установки. Выделяют приточный, вытяжной и приточно-вытяжной вариант. Приточные установки ориентированы
          на подачу свежего воздуха с последующим его распределением. Вытяжные модели удаляют загрязненный воздух и
          пыль из комнаты или цеха. Приточно-вытяжная вентиляция разработана, чтобы выполнять обе задачи;
        </li>
        <li>
          Габариты помещения, где будет монтироваться система. Каждое изделие рассчитано на свою площадь и объем;
        </li>
        <li>
          Тип нагревателя, который вам необходим. Возможен выбор из водяных и электрических моделей. Последние бывают
          также энергосберегающими;
        </li>
        <li>
          Вид воздуховода. Обычно встречаются круглые и прямоугольные воздуховоды. Важно, чтобы система вентиляции
          вписалась в уже существующую схему, т. к. иначе ее эффективность может снизиться.
        </li>
      </ul>
    </template>
    <template v-slot:project-description>
      <p>
        При установке вентиляционных систем важно выбирать современные производительные и надежные модели. Если
        вы планируете приобрести вентиляционное оборудование и системы вентиляции, обратите внимание
        на следующие
        моменты при покупке:
      </p>
      <ul>
        <li>
          Тип установки. Выделяют приточный, вытяжной и приточно-вытяжной вариант. Приточные установки ориентированы на подачу свежего воздуха с последующим его распределением. Вытяжные модели удаляют загрязненный воздух и пыль из комнаты или цеха. Приточно-вытяжная вентиляция разработана, чтобы выполнять обе задачи;
        </li>
        <li>
          Габариты помещения, где будет монтироваться система. Каждое изделие рассчитано на свою площадь и объем;
        </li>
      </ul>
    </template>
    <template v-slot:project-advanced>
      <PhotoSlider :items="photos" />
      <div class="section with-divider"><div class="section__full pt-0"></div></div>
    </template>
    <template v-slot:result>
      <p>
        Вид воздуховода. Обычно встречаются круглые и прямоугольные воздуховоды. Важно, чтобы система вентиляции вписалась в уже существующую схему, т. к. иначе ее эффективность может снизиться. При установке вентиляционных систем важно выбирать современные производительные и надежные модели. Если вы планируете приобрести вентиляционное оборудование и системы вентиляции, обратите внимание на следующие моменты при покупке.
      </p>
    </template>
  </PageCase>
</template>

<script>

import photo1 from "@/static/img/cases/ridan/photo1.png"
import photo2 from "@/static/img/cases/ridan/photo2.png"
import PhotoSlider from "@/widgets/PhotoSlider";
import PageCase from "@/layouts/PageCase";

export default {
  name: "ridan",
  components: {PageCase, PhotoSlider},
  computed: {
    photos() {
      return [
        {
          img: photo1
        },
        {
          img: photo2
        },
        {
          img: photo1
        },
        {
          img: photo2
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
