<template>
  <PageCase name="status">
    <template v-slot:problem>

    </template>
    <template v-slot:solution>

    </template>
    <template v-slot:project-description>

    </template>
    <template v-slot:project-advanced>

    </template>
    <template v-slot:result>

    </template>
  </PageCase>
</template>

<script>
import PageCase from "@/layouts/PageCase";
export default {
name: "status",
  components: {PageCase}
}
</script>

<style scoped>

</style>
