<template>
  <Page class="usual-page equipment-page">
    <Header v-slot:header/>
    <div>
      <div class="section with-divider">
        <div class="section__full">
          <Breadcrumbs>
            <Breadcrumb href="/">
              Главная
            </Breadcrumb>
            <Breadcrumb href="/equipment">
              Оборудование
            </Breadcrumb>
          </Breadcrumbs>
          <div class="section__columns">
            <div class="column-3-4 padding-only-desktop">
              <h1>
                Вентиляция
              </h1>
            </div>
          </div>
          <div class="section__columns pt-14">
            <div class="column-3-4 offset-40">
              <div class="content-wrapper">
                <p>
                  Текст об вентиляционном оборудовании его основном назначении, значимости, целях использования,
                  отраслях
                  в котором его применяют. Возможно сложностях и специальных компетенциях при проектировании. Нашей
                  экспертности, если таковая имеется в данной категории. Рекомендациях.
                </p>
                <p>
                  Возможно сложностях и специальных компетенциях при проектировании. Нашей экспертности, если таковая
                  имеется в данной категории. Рекомендациях.
                </p>
              </div>
            </div>
            <div class="column-1-4">
              <div class="left-top-border mobile-simple">
                <div class="pb-3 has-text-weight-bold">
                  Оглавление
                </div>
                <div class="icons-menu mini">
                  <a v-for="item in menu" :href="item.href" class="arrow-down">
                      <span>
                        {{ item.text }}
                      </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section with-divider">
        <div class="section__full">
          <div class="section__columns">
            <div class="column-3-4 padding-only-desktop">
              <div class="content-wrapper">
                <h2 id="description">
                  Как выбрать оборудование для вентиляции
                </h2>
              </div>
            </div>
          </div>
          <div class="section__columns pt-14">
            <div class="column-3-4 offset-40">
              <div class="content-wrapper">
                <p>При установке вентиляционных систем важно выбирать современные производительные и надежные модели.
                  Если
                  вы планируете приобрести вентиляционное оборудование и системы вентиляции, обратите внимание
                  на следующие моменты при покупке:</p>
                <ul>
                  <li>
                    Тип установки. Выделяют приточный, вытяжной и приточно-вытяжной вариант. Приточные установки
                    ориентированы на подачу свежего воздуха с последующим его распределением. Вытяжные модели удаляют
                    загрязненный воздух и пыль из комнаты или цеха. Приточно-вытяжная вентиляция разработана, чтобы
                    выполнять обе задачи;
                  </li>
                  <li>
                    Габариты помещения, где будет монтироваться система. Каждое изделие рассчитано на свою площадь и
                    объем;
                  </li>
                  <li>
                    Тип нагревателя, который вам необходим. Возможен выбор из водяных и электрических моделей. Последние
                    бывают также энергосберегающими;
                  </li>
                  <li>
                    Вид воздуховода. Обычно встречаются круглые и прямоугольные воздуховоды. Важно, чтобы система
                    вентиляции вписалась в уже существующую схему, т. к. иначе ее эффективность может снизиться.
                  </li>
                </ul>
              </div>
            </div>
            <div class="column-1-4">
              <div class="left-top-border mobile-simple">
                <div class="pb-3 has-text-weight-bold">
                  Если у вас нет проекта?
                </div>
                <p>
                  Мы поможем его составить и укомплектовать. Есть говтовый проект и смета? Отлично! Оставьте свои
                  контактные данные в форме ниже, менеджер свяжется с вами и укомплектует проект.
                </p>
                <Link href="#feedback">
                  Оставить заявку
                </Link>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section with-divider">
        <div class="section__full">
          <h2 id="vendors">
            Производители вентиляционного обороудования
          </h2>
          <div class="subjects pt-6">
            <div class="subject" v-for="item in vendors">
              <div class="left-top-border">
                <img :src="item.img" class="vendor-img is-hidden-touch">
                <img :src="item.img_mobile" class="vendor-img is-hidden-desktop">
                <div>
                  <Link :href="item.href" icon="caret">{{ item.text }}</Link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-equipment-form">
      <div class="section__full">
        <h2>Укомплектовать систему вентиляции</h2>
        <div class="content-wrapper">
          <p class="pt-6 has-text-accent-light is-size-3" id="feedback">
            Оставьте свои контактные данные, менеджер свяжется с вами в&nbsp;течение 30 минут.
          </p>
          <FeedbackForm skin="on_dark"/>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section__full">
        <h2 id="mounters">
          Рекомендуем отличных монтажников
        </h2>
        <div class="subjects pt-14 subjects--mounters">
          <div class="subject" v-for="item in mounters">
            <div class="left-top-border">
              <img :src="item.img" class="mounter-img is-hidden-touch">
              <img :src="item.img_mobile" class="mounter-img is-hidden-desktop">
              <div class="pt-3 has-text-weight-bold">
                {{ item.text }}
              </div>
              <div>
                <Link :href="`tel:${item.phone}`" :icon="null" color="link">{{ item.phone }}</Link>
              </div>
              <div>
                <Link :href="`mailto:${item.email}`" :icon="null" color="link">{{ item.email }}</Link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--      <div class="section">-->
    <!--        <div class="section__half">-->

    <!--        </div>-->
    <!--        <div class="section__half">-->
    <!--          -->
    <!--        </div>-->
    <!--      </div>-->
  </Page>
</template>

<script>
import Page from "@/components/Page";
import Header from "@/layouts/header/Header";
import Breadcrumbs from "@/components/Breadcrumbs";
import Breadcrumb from "@/components/Breadcrumb";
import Link from "@/components/Link";
import FeedbackForm from "@/widgets/FeedbackForm";

import Funke from "@/static/img/vendors/Funke.png"
import Sole from "@/static/img/vendors/Sole.png"
import Vexve from "@/static/img/vendors/Vexve.png"
import Volcano from "@/static/img/vendors/Volcano.png"
import Zetkama from "@/static/img/vendors/Zetkama.png"
import Dekast_metronik from "@/static/img/vendors/Dekast_metronik.png"

import Funke_mobile from "@/static/img/vendors/Funke_mobile.png"
import Sole_mobile from "@/static/img/vendors/Sole_mobile.png"
import Vexve_mobile from "@/static/img/vendors/Vexve_mobile.png"
import Volcano_mobile from "@/static/img/vendors/Volcano_mobile.png"
import Zetkama_mobile from "@/static/img/vendors/Zetkama_mobile.png"
import Dekast_metronik_mobile from "@/static/img/vendors/Dekast_metronik_mobile.png"

import Zolotorukiy from "@/static/img/mounters/Zolotorukiy.png"
import Ventirk from "@/static/img/mounters/Ventirk.png"

import Zolotorukiy_mobile from "@/static/img/mounters/Zolotorukiy_mobile.png"
import Ventirk_mobile from "@/static/img/mounters/Ventirk_mobile.png"


export default {
  name: "ventilation",
  components: {FeedbackForm, Link, Breadcrumb, Breadcrumbs, Header, Page},
  computed: {
    menu() {
      return [
        {
          href: '#description',
          text: "Описание"
        },
        {
          href: '#vendors',
          text: "Производители"
        },
        {
          href: '#feedback',
          text: "Укомплектовать систему вентиляции"
        },
        {
          href: '#mounters',
          text: "Монтаж"
        },
      ]
    },
    vendors() {
      return [
        {
          text: "Funke",
          href: "/",
          name: "Funke",
          img: Funke,
          img_mobile: Funke_mobile
        },
        {
          text: "Sole",
          href: "/",
          name: "Sole",
          img: Sole,
          img_mobile: Sole_mobile

        },
        {
          text: "Vexve",
          href: "/",
          name: "Vexve",
          img: Vexve,
          img_mobile: Vexve_mobile

        },
        {
          text: "Volcano",
          href: "/",
          name: "Volcano",
          img: Volcano,
          img_mobile: Volcano_mobile

        },
        {
          text: "Zetkama",
          href: "/",
          name: "Zetkama",
          img: Zetkama,
          img_mobile: Zetkama_mobile

        },
        {
          text: "Декаст Метроник",
          href: "/",
          name: "Dekast_metronik",
          img: Dekast_metronik,
          img_mobile: Dekast_metronik_mobile

        },
      ]
    },
    mounters() {
      return [
        {
          text: "ИП Золоторукий А.Н.",
          phone: "+7 (3952) 920-905",
          email: "goldhand@mail.ru",
          img: Zolotorukiy,
          img_mobile: Zolotorukiy_mobile
        },
        {
          text: "ООО ВентИРК",
          phone: "+7 (3952) 920-905",
          email: "sales@ventik.ru",
          img: Ventirk,
          img_mobile: Ventirk_mobile
        },
      ]
    }
  }
}
</script>

<style scoped>

</style>
