<template>
  <div class="article-categories pt-14">
    <div class="" v-for="item in categories">
      <Link :href="category_href(item)" icon="caret">
        {{item.title}}
      </Link>
    </div>
    <div>
      <Link href="#subscribe" icon="envelop">
        Подписаться на обновления
      </Link>
    </div>
  </div>
</template>

<script>
import Link from "@/components/Link";
import articleCategories from "@/mixins/article-categories"
export default {
  name: "ArticleCategoriesFilter",
  components: {Link},
  mixins: [articleCategories]
}
</script>

<style scoped>

</style>
