<template>
  <div class="article-pager">
    <a class="article-pager__left" :href="`?page=${prev_page}`"></a>
    <div class="article-pager__counter">
      <template v-for="item in pages">
      <Link
         class="article-pager__page"
         :href="`?page=${item}`"
         :icon="null"
         :class="{'active': item === current_page}"
      >{{ item }}</Link>
      </template>
    </div>
    <a class="article-pager__right" :href="`?page=${next_page}`"></a>
  </div>
</template>

<script>
import Link from "@/components/Link";
export default {
  name: "ArticlePager",
  components: {Link},
  props: {
    page_counter: Number
  },
  computed: {
    pages() {
      let pages = [];
      const counter = this.page_counter ? this.page_counter : 1;
      for (let i = 1; i <= counter;  i++) {
        pages.push(i);
      }
      return pages;
    },
    prev_page() {
      return 1
    },
    next_page() {
      return 10
    },
    current_page() {
      return 1;
      // return this.$route.params.page
    }
  }
}
</script>

<style scoped>

</style>
