<template>
  <div class="article-wrapper__shares">
<!--    <script src="https://yastatic.net/share2/share.js"></script>-->
    <div class="ya-share2" data-curtain data-size="l" data-shape="round" data-services="vkontakte,facebook,odnoklassniki,twitter" ref="share"></div>
  </div>
</template>

<script>
export default {
name: "ArticleShares",
  mounted() {
    let share = Ya.share2(this.$refs.share, {
      content: {
        url: '/'
      }
      // здесь вы можете указать и другие параметры
    });
  }
}
</script>

<style scoped>

</style>
