<template>
  <div class="suggest-search" :class="{'search_active': search_active, 'on_first_screen': on_first_screen}" ref="search_wrapper">
    <div class="suggest-search__head">
      <img src="/img/icons/lens.svg" class="has-text-white icon-button"/>
      <div class="control">
        <input id="search-input"
               v-model="search_string"
               class="input"
               type="text"
               ref="search_input"
               placeholder="Поиск по каталогу"
               @focus="search_init()"
        >
      </div>
      <img v-if="search_active || show_close_always" src="/img/icons/times.svg" class="icon-button has-text-white"
           @click="search_close()"/>
    </div>
    <div class="suggest-search__result" v-if="search_active">
      <a class="result-item" :href="item.href" v-for="(item, index) in search_results" :key="index">
        {{ item.title }}
      </a>
    </div>
  </div>
</template>

<script>

export default {
  name: "BaseSuggestSearch",
  props: {
    on_first_screen: Boolean,
    show_close_always: Boolean,
    menu_showed: Boolean,
    base_url: String
  },
  data() {
    return {
      search_active: false,
      search_string: "",
      search_result: [],
      mock_search_result: [
        {
          title: "Теплообменники",
          href: "/"
        },
        {
          title: "Пластинчатый теплообменники",
          href: "/"
        },
        {
          title: "Паяные пластинчатые теплообменники",
          href: "/"
        },
        {
          title: "Теплообменники Danfoss",
          href: "/"
        },
        {
          title: "Теплообменники Ридан",
          href: "/"
        }
      ]
    }
  },
  watch: {
    menu_showed: {
      handler(val) {
        if (val && window.focus_on_menu_search) this.$refs.search_input.focus()
      },
      immediate: true
    },
    search_string(val, oldVal) {
      if (!!val && val.length > 2) {
        this.search_request()
      } else {
        this.search_result = [];
      }
      if (!!val && !oldVal) this.$emit('string_entered');
      if (!val && !!oldVal) this.$emit('string_cleared');
    }
  },
  computed: {
    mock_enable() {
      return false;
    },
    search_results() {
      if (!this.mock_enable) {
        return this.search_result
      } else {
        const pages = this.mock_search_result;
        return pages.filter(item => {
          return this.search_string && item.title.toLocaleLowerCase().includes(this.search_string.toLocaleLowerCase());
        })
      }
    }
  },
  methods: {
    search_request() {
      fetch(`/api/search.php?text=${this.search_string}`)
        .then(response => response.json())
        .then(data => {
          this.search_result = data.map(item => ({
            title: item.NAME,
            href: item.DETAIL_PAGE_URL
          }))

        })
    },
    search_init() {
      this.search_active = true;
      this.$emit("search_init", this.search_active);
    },
    search_close() {
      this.search_active = false;
      this.search_string = "";
      window.focus_on_menu_search = false;
      this.$emit("search_close", this.search_active);
    }
  }
}
</script>

<style scoped>

</style>
