<template>
  <a class="case-card" :class="name" :href="`/cases/${path}`">
    <h3 class="case-card__title has-text-white">{{title}}</h3>
    <div class="case-card__description">{{description}}</div>
    <Link :href="`/cases/${path}`" color="link-white" icon="caret" class="case-card__link is-size-3">Смотреть кейс</Link>
  </a>
</template>

<script>
import Link from "@/components/Link";
export default {
name: "CaseCard",
  components: {Link},
  props: ["name", "path", "title", "description"]
}
</script>

<style >

</style>
