<template>
  <div class="case-begin">
    <div class="case-begin__title">
      <Breadcrumbs>
        <Breadcrumb href="/">
          Главная
        </Breadcrumb>
        <Breadcrumb href="/cases">
          Кейсы
        </Breadcrumb>
      </Breadcrumbs>
      <h2 class="has-text-black is-hidden-touch">{{ currentCase.title }}</h2>
      <h1 class="has-text-black is-hidden-desktop">{{ currentCase.title }}</h1>
    </div>
    <div class="case-begin__writer" :class="currentCase.name">
      <div class="quotes-block"></div>
      <div class="writer">
        <div class="writer__title">Рассказывает</div>
        <div class="writer__who" v-if="!!currentCase.writer">
          <div class="is-capitalized">{{ currentCase.writer.name }}</div>
          <div>{{ currentCase.writer.position }}</div>
        </div>
      </div>
    </div>
    <div class="case-begin__img" :class="currentCase.name">

    </div>
    <div class="case-begin__table_of_contents">
      <div class="has-text-weight-bold has-text-black">Оглавление</div>
      <div class="icons-menu mini">
        <a v-for="item in menu" :href="item.href" class="arrow-down">
                      <span>
                        {{ item.text }}
                      </span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";
import Breadcrumbs from "@/components/Breadcrumbs";
import cases from "@/mixins/cases";
import Link from "@/components/Link";

export default {
  name: "CaseBegin",
  components: {Link, Breadcrumbs, Breadcrumb},
  props: ["name"],
  mixins: [cases],
  computed: {
    menu() {
      return [
        {
          href: '#problem',
          text: "Задача"
        },
        {
          href: '#solution',
          text: "Решение"
        },
        {
          href: '#project',
          text: "Проект"
        },
        {
          href: '#result',
          text: "Результат"
        },
      ]
    }
  }
}
</script>

<style scoped>

</style>
