<template>
  <a :href="href" class="base-link" :class="[color, `icon-${icon}`]" v-on="$listeners">
<!--    <div v-if="!!icon">-->
<!--      <component :is="icons[icon]"/>-->
<!--    </div>-->
    <span class="base-link__text"><slot/></span>
    <span v-if="!!appendIcon" class="base-link__append" :class="`base-link__append-icon-${appendIcon}`">
<!--      <component :is="icons[appendIcon]" class="base-link__append-icon"/>-->
    </span>
  </a>
</template>

<script>

import arrowRight from "@/static/img/icons/arrow-right.svg?inline"
import arrowDown from "@/static/img/icons/arrow-down.svg?inline"
import caret from "@/static/img/icons/caret.svg?inline"
import plus from "@/static/img/icons/plus.svg?inline"
import envelop from "@/static/img/icons/envelop.svg?inline"
import envelopStrong from "@/static/img/icons/envelop-strong.svg?inline"
import phone from "@/static/img/icons/phone.svg?inline"

export default {
  name: "Link",
  props: {
    href: String,
    color: {
      type: String,
      default: () => "link"
    },
    icon: {
      type: String,
      default: () => "arrowRight"
    },
    appendIcon: {
      type: String,
      default: () => null
    }
  },
  data() {
    return {
      icons: {
        arrowRight,
        arrowDown,
        caret,
        plus,
        envelop,
        envelopStrong,
        phone
      }
    }
  }
}
</script>

<style>

</style>
