<template>
  <a :href="href" class="link-white">
    <img class="has-text-link" src="/img/icons/caret.svg"/>
    <span>
      <slot/>
    </span>
  </a>
</template>

<script>
export default {
  name: "LinkCaret",
  props: ["href"]
}
</script>

<style scoped>

</style>
