<template>
  <div class="main-container">
    <div class="left-border"></div>
    <div class="content-container">
      <slot name="header" />
      <slot />
      <Footer />
    </div>
    <div class="right-border"></div>
  </div>
</template>

<script>
import Footer from "@/layouts/Footer";
export default {
  name: "Page",
  components: {Footer}
}
</script>

<style>

</style>
