<template>
  <div class="staff">
    <div v-for="item in staff" class="staff__item">
      <img :src="item.img" />
      <div class="is-size-3 has-text-black">{{item.name}}</div>
      <div class="">{{item.position}}</div>
      <Link :icon="null" :href="`mailto:${item.email}`">{{item.email}}</Link>
    </div>
  </div>
</template>

<script>

import photo1 from "@/static/img/about/photo1.png";
import photo2 from "@/static/img/about/photo2.png";
import photo3 from "@/static/img/about/photo3.png";
import photo4 from "@/static/img/about/photo4.png";
import photo5 from "@/static/img/about/photo5.png";
import photo6 from "@/static/img/about/photo6.png";
import Link from "@/components/Link";

export default {
  name: "Staff",
  components: {Link},
  computed: {
    staff() {
      return [
        {
          name: 'Иван Устименко',
          position: 'Директор',
          email: 'boss@celsiy.pro',
          img: photo1
        },
        {
          name: 'Алексей Роговский',
          position: 'Директор по развитию',
          email: 'bizdev@celsiy.pro',
          img: photo2
        },
        {
          name: 'Александр Забава',
          position: 'Начальник отдела продаж',
          email: 'sales@celsiy.pro',
          img: photo3
        },
        {
          name: 'Александр Забава',
          position: 'Начальник отдела продаж',
          email: 'sales@celsiy.pro',
          img: photo4
        },
        {
          name: 'Иван Устименко',
          position: 'Директор',
          email: 'boss@celsiy.pro',
          img: photo5
        },
        {
          name: 'Виктория Акимова',
          position: 'Бухгалтер',
          email: 'bizdev@celsiy.pro',
          img: photo6
        },
      ]
    }
  }
}
</script>

<style scoped>

</style>
