<template>
  <div class="page-404">
    <div class="page-404__logo">
      <a href="/">
        <img src="/img/logo.svg" class="logo"/>
      </a>
    </div>
    <div class="page-404__content">
      <img src="/img/404-full.svg" class="is-hidden-touch"/>
      <img src="/img/404.svg" class="is-hidden-desktop"/>
      <p class="is-size-3">Страница не найдена</p>
      <Link href="/" icon="arrowRight">На главную страницу</Link>
    </div>
    <div class="page-404__footer">
      <span>© 2011–2020, ООО Цельсий, Иркутск</span>
      <Link href="/terms" :icon="null" color="link-main">Политика конфиденциальности</Link>
    </div>
  </div>
</template>

<script>
import Link from "@/components/Link";

export default {
  name: "index",
  components: {Link}
}
</script>

<style scoped>

</style>
