<template>
  <div class="header">
    <div class="header__logo-column">
      <LeftHeader></LeftHeader>
    </div>
    <div class="header__menu-column">
      <HeaderMenuWrapper />
    </div>
  </div>
</template>

<script>
import LeftHeader from "@/layouts/header/LeftHeader";
import HeaderMenuWrapper from "@/widgets/HeaderMenuWrapper";

export default {
  name: "Header",
  components: {HeaderMenuWrapper, LeftHeader}
}
</script>

<style scoped>

</style>
