<template>
  <div class="left-header">
    <div class="column is-half is-half-touch">
      <a href="/">
        <img src="/img/logo.svg" class="logo"/>
      </a>
    </div>
    <div class="column is-half has-text-right is-hidden-touch">
      <div class="header-phone is-size-4 has-text-light">
        <a href="tel:+7 (3952) 920-905" class="has-text-light">
        +7 (3952) 920-905
        </a>
      </div>
      <Link color="link-main" href="#feedback">
        Заказать звонок
      </Link>
<!--      <div class="">-->
<!--        <img src="/img/icons/arrow-right.svg"/>-->
<!--        <a href="#feedback-form" class="has-text-light">-->
<!--          Заказать звонок-->
<!--        </a>-->
<!--      </div>-->
    </div>
    <div class="column is-hidden-desktop is-half-touch has-text-right">
      <img src="/img/icons/hamburger.svg" @click="mobile_menu_show=true" id="header-hamburger"/>
      <Menu v-model="mobile_menu_show" />
    </div>
  </div>
</template>

<script>

import Menu from "@/layouts/header/Menu";
import Link from "@/components/Link";
export default {
  name: "LeftHeader",
  components: {Link, Menu},
  data() {
    return {
      mobile_menu_show: false
    }
  }
}
</script>

<style scoped>

</style>
