<template>
  <div>
    <div class="screen-feedback" id="feedback">
      <div class="screen-feedback__cont">
        <div class="column-3-4 with-divider">
          <h2 class="has-text-black">Обращайтесь!</h2>
          <div class="screen-feedback__text pt-5">Получите экспертизу, подтвержденную 9-летним<br
            class="is-hidden-desktop">опытом и, как результат,
            наиболее выгодное и&nbsp;технически верное решение
          </div>
          <FeedbackForm/>
        </div>
        <div class="column-1-4 screen-feedback__smeta">
          <h3 class="has-text-black">
            Уже есть готовая смета?
          </h3>
          <p class="pt-4">
            Отправьте её&nbsp;нам
            <Link href="mailto:vlad@htmlbook.ru" :icon="undefined">info@celsiy.pro</Link>
            или свяжитесь с&nbsp;нами по&nbsp;телефону
            <a href="tel:+7 (3952) 920-905" class="has-text-black">+7 (3952) 920-905</a>
            и&nbsp;мы&nbsp;бесплатно улучшим её&nbsp;без потерь в&nbsp;качестве и&nbsp;с&nbsp;большей выгодой для&nbsp;вас!
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FeedbackForm from "@/widgets/FeedbackForm";
import Link from "@/components/Link";

export default {
  name: "FeedbackSection",
  components: {FeedbackForm, Link},

}
</script>

<style>

</style>
