<template>
  <div class="footer has-text-white">
    <div class="footer-left column-3-4 is-hidden-touch">
      <div>
        <div class="footer-menu has-text-white is-size-2">
          <div v-for="item in menu">
            <a :href="item.href" :class="{active: item.active}">
              {{ item.title }}
            </a>
          </div>
        </div>
      </div>
      <div class="is-justify-content-flex-end">
        <span class="has-text-link-light mr-3">
          © 2011–2021, ООО Цельсий, Иркутск
        </span>
        <Link color="link-light" :icon="null">
          Политика конфиденциальности
        </Link>
      </div>
    </div>
    <div class="footer-right column-1-4">
      <div>
        <div>
          <div class="is-size-3 is-size-2-touch phone-text">
            <a href="tel:+7 (3952) 920-905" class="has-text-white">
              +7 (3952) 920-905
            </a>
          </div>
          <div>
            <Link color="link-light" href="#feedback">
              Заказать звонок
            </Link>
          </div>
        </div>
        <div class="pt-4 pt-4-touch">
          <div>
            Эл. почта
          </div>
          <div>
            <Link color="link-light" href="mailto:sales@celsiy.pro">
              sales@celsiy.pro
            </Link>
          </div>
        </div>
        <div class="pt-4 pt-4-touch">
          <div>
            Офис
          </div>
          <div class="has-text-link-light">
            Иркутск, ул. Горького 36Б, БЦ «Максим»,<br>7 этаж, офис 1-17
          </div>
        </div>
        <div class="pt-4 pt-4-touch">
          <div>
            Склад
          </div>
          <div class="has-text-link-light">
            Иркутск, ул. Полярная, 117а
          </div>
        </div>
        <div class="pt-4 pt-4-touch">
          <div>
            Мы в социальных сетях
          </div>
          <div class="footer-media-links has-text-link-light">
            <a href="https://vk.com" class="has-text-link-light">
              <img src="/img/icons/vk_footer.png">
            </a>
            <a href="https://fb.com" class="has-text-link-light">
              <img src="/img/icons/facebook_footer.png">
            </a>
            <a href="https://instagram.com" class="has-text-link-light">
              <img src="/img/icons/instagram_footer.png">
            </a>
          </div>
        </div>
      </div>
      <div>
        <div class="pt-4-touch">
          <RequisitesPopup />
        </div>
      </div>
      <div class="footer-right__copyright is-hidden-desktop">
        <p class="has-text-link-light">
          © 2011–2021, ООО Цельсий, Иркутск
        </p>
        <Link color="link-light" :icon="null">Политика конфиденциальности</Link>
      </div>
    </div>
  </div>
</template>

<script>
import Link from "@/components/Link";

export default {
  name: "Footer",
  components: {Link},
  computed: {
    menu() {
      return [
        {
          title: "Оборудование",
          href: "/"
        },
        {
          title: "Кейсы",
          href: "/"
        },
        {
          title: "Статьи",
          href: "/",
          active: true
        },
        {
          title: "Вакансии",
          href: "/"
        },
        {
          title: "О компании",
          href: "/"
        },
        {
          title: "Контакты",
          href: "/"
        },
      ]
    }
  }
}
</script>

<style>

</style>
