<template>
  <div>
    <div class="section with-divider">
      <div class="section__half pb-0">
        <div>
          <Breadcrumbs>
            <Breadcrumb href="/">
              Главная
            </Breadcrumb>
          </Breadcrumbs>
        </div>
        <h1 class="has-text-black">Контакты</h1>
        <div class="contacts">
          <div class="contact-item" v-for="item in innerMarkers">
            <div class="contact-item__icon" :class="item.color"></div>
            <div class="contact-item__content">
              <Link v-if="!!item.coords" :icon="null" href="#" @click.prevent="set_active_marker(item)" class="has-text-weight-bold"
                    :class="{'noclickable': false && !is_mobile}">
                {{ item.title }}
              </Link>
              <div v-else class="has-text-weight-bold">{{ item.title }}</div>
              <div class="pt-1" v-if="!!item.address">{{ item.address }}</div>
              <div class="pt-1" v-if="!!item.schedule">{{ item.schedule }}</div>
              <div class="contact-item__row pt-2" v-if="!!item.email || !!item.phone">
                <Link
                  v-if="!!item.phone"
                  icon="phone"
                  :href="`tel:${item.phone}`"
                  color="link-main"
                  class="no-wrap no-underline">
                  {{ item.phone }}
                </link>
                <Link v-if="!!item.email"
                      icon="envelopStrong"
                      :href="`tel:${item.email}`"
                      class="no-wrap">{{ item.email }}</link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section__half section-map pb-0 is-hidden-touch" v-if="!is_mobile">
        <div class="contact-map" v-if="showMap">
          <yandex-map
            :coords="map_pos.coord"
            :zoom="map_pos.zoom"
            style="width: 100%; height: 100%;"
            :controls="[]"
            map-type="map"
            @map-was-initialized="mapLoaded"
          >
            <ymap-marker
              v-for="marker in innerMarkers"
              :key="marker.id"
              :marker-id="marker.id"
              :coords="marker.coords"
              :icon="marker.icon"
              :balloon-template="ballon_template(marker)"
            />
          </yandex-map>
        </div>
      </div>
    </div>
    <RedPopup v-model="popup_enabled" has_close_button close_button_layer v-if="is_mobile">
      <div class="contact-map-mobile-container" v-if="showMap">
        <yandex-map
          :coords="map_pos.coord"
          :zoom="map_pos.zoom"
          style="width: 100%; height: 100%;"
          :controls="[]"
          map-type="map"
          @map-was-initialized="mapLoaded"
        >
          <ymap-marker
            v-for="marker in innerMarkers"
            ref="balloon"
            :key="marker.id"
            :marker-id="marker.id"
            :coords="marker.coords"
            :icon="marker.icon"
            :balloon-template="ballon_template(marker)"
          />
        </yandex-map>
      </div>
    </RedPopup>
<!--    <div class="section with-divider">-->
<!--      <div class="section__half">-->
<!--        <p class="has-text-weight-bold has-text-black">Реквизиты</p>-->
<!--        <p>Общество с ограниченной ответственностью «Цельсий»</p>-->
<!--        <p>ИНН/КПП: 3 849 013 904/380 801 001</p>-->
<!--        <p>ОГРН: 1 113 850 002 914</p>-->
<!--        <p>Юр. адрес: 664 011, Россия, г. Иркутск, ул. Горького, 36Б, офис 1-17.</p>-->
<!--      </div>-->
<!--      <div class="section__half-second">-->
<!--        <p class="has-text-weight-bold has-text-black">Банковские реквизиты</p>-->
<!--        <p>СИБИРСКИЙ ФИЛИАЛ АО «РАЙФФАЙЗЕНБАНК» Г. НОВОСИБИРСК</p>-->
<!--        <p>БИК: 045 004 799</p>-->
<!--        <p>Р/с: 40 702 810 407 000 012 432</p>-->
<!--        <p>К/с: 30 101 810 300 000 000 799</p>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";
import Breadcrumbs from "@/components/Breadcrumbs";
import { yandexMap, ymapMarker } from 'vue-yandex-maps'

import red_marker from "@/static/img/contacts/red_marker.png"
import blue_marker from "@/static/img/contacts/blue_marker.png"
import Link from "@/components/Link";
import RedPopup from "@/components/RedPopup";

export default {
  name: "ContactsSection",
  components: {RedPopup, Link, Breadcrumbs, Breadcrumb, yandexMap, ymapMarker},
  props: {
    markers: {
      type: Array,
      default: () => {
        return [
          {
            title: "Офис",
            // id: "marker-office",
            coords: '[104.286302, 52.284514]',
            name: "office",
            iconImg: red_marker,
            address: "Иркутск, ул. Горького 36Б, БЦ «Максим», 7 этаж, офис 1-17",
            schedule: "Понедельник – Пятница с 09:00 – 17:30",
            phone: "+7 (3952) 920-905",
            email: "office@celsiy.pro",
            color: "accent"
          },
          {
            title: "Склад",
            // id: "marker-warehouse",
            coords: '[104.263431, 52.342901]',
            name: "warehouse",
            iconImg: blue_marker,
            address: "Иркутск, ул. Полярная, 117а",
            schedule: "Понедельник – Пятница с 09:00 – 17:30",
            phone: "+7 (3952) 920-905",
            email: "wharehouse@celsiy.pro",
            color: "surface"
          }
        ]
      }
    }
  },
  data() {
    return {
      mobile_active_marker: undefined,
      popup_enabled: false,
      myMap: {},
      showMap: false
    }
  },
  computed: {
    is_mobile() {
      console.log(this.$mq);
      return this.$mq && ['xs', 'sm', 'md'].indexOf(this.$mq) !== -1
    },
    map_pos() {
      if (!this.mobile_active_marker) {
        return {
          coord: this.innerMarkers[0].coords,
          zoom: 14
        }
      } else {
        return {
          coord: this.mobile_active_marker.coords,
          zoom: 14
        }
      }
    },
    map_coord() {
      return this.coords_format([104.27905083489533, 52.314715085491024])
    },
    innerMarkers() {
      return this.markers.map(item => {
        const iconImg = {
          red_marker,
          blue_marker
        }[item.iconImg];
        return Object.assign(item, {
          iconImg,
          icon: this.get_marker_object(item.coords, item.name, iconImg),
          coords: this.coords_format(JSON.parse(item.coords)),
          id: `marker-${item.name}`
        })
      })
    }
  },
  watch: {
    popup_enabled(value) {
      if (!value) this.mobile_active_marker = undefined;
    }
  },
  mounted() {
   this.showMap = true;
  },
  methods: {
    mapLoaded(myMap) {
      this.myMap = myMap;
    },
    set_active_marker(marker) {
      this.mobile_active_marker = marker;
      if (!this.is_mobile) {

      } else {
        this.popup_enabled = true;
      }

      if (!this.is_mobile) {
        this.openBalloon()
      } else {
        setTimeout(() => {
          this.openBalloon();
        }, 1000)
      }
    },
    openBalloon() {
      this.myMap.balloon.open(this.mobile_active_marker.coords, this.ballon_template(this.mobile_active_marker)).then(() => {
        this.myMap.panTo(this.mobile_active_marker.coords);
      });
    },
    ballon_template(marker) {
      return `<div class="has-text-weight-bold">${marker.title}</div>
            <div>${marker.address}</div>`;
    },
    get_marker_object(coords, name, icon) {
      return {
        layout: 'default#image', // 'default#imageWithContent' для использования с контентом
        imageHref: icon, // адрес изображения или data:image/svg+xml;base64
        imageSize: [40, 46], // размер иконки в px
        // imageOffset: [-22, -55], // смещение иконки в px,
        /* Следующие поля актуальны для layout: 'default#imageWithContent' */
        content: 'some content here', // содержимое контента
        // contentOffset: [-22, -55], // смещение контента в px,
        contentLayout: '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>' // строковый HTML шаблон для контента
      }
    },
    coords_format(coords) {
      return [coords[1], coords[0]]
    }
  }
}
</script>

<style scoped>

</style>
