<template>
  <div>
    {{beforeText}}
    <template v-for="(item, index) in distributors">
      <a
        :key="`distr_${index}`"
        class="distributor-name"
        @mouseenter="set_active_distributor(item)"
        @mouseleave="clear_active_distributor"
        @click.stop.prevent="set_active_distributor(item)"
      >{{ item.title }}</a><span>{{ (index < distributors.length - 1 ? ", " : "") }}</span>
    </template>
    {{afterText}}
    <RedPopup :value="!!active_distributor" :has_close_button="['xs', 'sm', 'md'].indexOf($mq) !== -1">
      <template v-if="!!active_distributor">
        <img :src="active_distributor.img"/>
        <p class="pt-2">{{ active_distributor.description }}</p>
      </template>
    </RedPopup>
  </div>
</template>

<script>
import RedPopup from "@/components/RedPopup";
import danfos from "@/static/img/landing/distributors_certs/danfos.png";
import grundfos from "@/static/img/landing/distributors_certs/grundfos.png";
import ridan from "@/static/img/landing/distributors_certs/ridan.png";
import kan from "@/static/img/landing/distributors_certs/KAN-Therm.png";
import Funke from "@/static/img/landing/distributors_certs/Funke.png";
import Volcano from "@/static/img/landing/distributors_certs/Volcano.png";
import ALSO from "@/static/img/landing/distributors_certs/ALSO.png";

export default {
  name: "DistributorsInlineList",
  components: {
    RedPopup,
  },
  props: {
    beforeText: String,
    afterText: String,
    distributors: Array
  },
  data() {
    return {
      active_distributor: undefined
    }
  },
  computed: {
    // distributors() {
    //   return [
    //     {
    //       title: "Danfoss",
    //       description: "Сертификат дистрибьютора Danfoss",
    //       name: "danfos",
    //       img: danfos
    //     },
    //     {
    //       title: "Grundfos",
    //       description: "Сертификат дистрибьютора Grundfos",
    //       name: "grundfos",
    //       img: grundfos
    //     },
    //     {
    //       title: "РИДАН",
    //       description: "Сертификат дистрибьютора РИДАН",
    //       name: "ridan",
    //       img: ridan
    //     },
    //     {
    //       title: "KAN-Therm",
    //       description: "Сертификат дистрибьютора KAN-Therm",
    //       name: "KAN-Therm",
    //       img: kan
    //     },
    //     {
    //       title: "Funke",
    //       description: "Сертификат дистрибьютора Funke",
    //       name: "Funke",
    //       img: Funke
    //     },
    //     {
    //       title: "Volcano",
    //       description: "Сертификат дистрибьютора Volcano",
    //       name: "Volcano",
    //       img: Volcano
    //     },
    //     {
    //       title: "ALSO",
    //       description: "Сертификат дистрибьютора ALSO",
    //       name: "ALSO",
    //       img: ALSO
    //     },
    //   ]
    // }
  },
  methods: {
    set_active_distributor(item) {
      this.active_distributor = item;
    },
    clear_active_distributor() {
      this.active_distributor = undefined;
    }
  }
}
</script>

<style scoped>

</style>
