<template>
  <div class="feedback-form" :class="skin">
    <div class="input-wrapper">
      <input v-model="name" type="text" placeholder="Ваше имя"/>
    </div>
    <div class="input-wrapper">
      <input v-model="contact" type="text" placeholder="Телефон или эл. почта"/>
    </div>
    <div class="agree-checkbox pb-5 pb-2-touch" v-if="term_checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      <div class="is-inline-block">
        Согласен с
        <BaseLink href="/policy" :icon="null"><span>Политикой конфиденциальности</span></BaseLink>
<!--        <Link href="/policy" :icon="null">-->
<!--        </Link>-->
      </div>
    </div>
    <div class="feedback-form__submit" @click="submit">
      <span>
        Отправить заявку
      </span>
    </div>
    <div class="feedback-form__status" :class="status"></div>
  </div>
</template>

<script>

import Link from "@/components/Link";

export default {
  name: "FeedbackForm",
  components: {BaseLink: Link},
  props: {
    skin: {
      type: String,
      default: () => "on_white"
    },
    form_name: {
      type: String,
      default: "Форма обратной связи"
    },
    base_url: String,
    term_checkbox: Boolean
  },
  data() {
    return {
      status: "init",
      has_error: false,
      name: "",
      contact: ""
    }
  },
  methods: {
    submit() {
      this.status = "submitting"
      new Promise((resolve, reject) => {
        if (!this.base_url) {
          setTimeout(() => {
            resolve()
          }, 1000)
        } else {
          const data = {
            name: this.name,
            contact: this.contact,
            form_name: this.form_name,
            page: document.URL
          };

          fetch(`/include/send.php?get=send`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
              // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `param=${JSON.stringify(data)}`
          })
            // .then(response => response.json())
            .then(response => {
              if (!response.ok) throw("Submit failed");
              resolve();
            })
            .catch(e => {
              console.log("Error of form submitting:", e);
              alert("Во время выполнения запроса произошла ошибка. Попробуйте позже.");
              resolve();
            })
        }
      })
        .then(() => {
          this.status = "submitted"
        })
        .catch(() => {
          this.has_error = true;
        })
    }
  }
}
</script>

<style scoped>

</style>
