<template>
  <div class="main-catalog-card cont-touch" ref="main_catalog_card" :class="[active_item_name, {'no_background': search_active}]">
    <div class="main-catalog-card__layout  is-gapless">
      <div class="main-catalog-card__menu" :class="{'hide_by_search': search_active}">
        <Menu />
      </div>
      <div class="main-catalog-card__catalog">
        <MainCatalog @item_active="change_background_by_item"
                     @no_item_active="change_background_by_item"
                     @search_init="search_active=true"
                     @search_close="search_active=false"
                     :base_url="base_url"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Menu from "@/layouts/header/Menu";
import MainCatalog from "@/pages/main/MainCatalog";
export default {
  name: "MainMenuCatalog",
  components: {MainCatalog, Menu},
  props: {
    base_url: String
  },
  data() {
    return {
      search_active: false,
      active_item_name: undefined
    }
  },
  methods: {
    change_background_by_item(item) {
      if (item) {
        this.active_item_name = item.name;
      } else {
        this.active_item_name = undefined;
      }

      // this.$refs.main_catalog_card.classList.add(item.name);
    }
  }
}
</script>

<style>

</style>
