<template>
  <div>
    <img src="/src/static/img/icons/hamburger.svg" @click="mobile_menu_show=true" id="header-hamburger"/>
    <Menu v-model="mobile_menu_show"/>
  </div>
</template>

<script>
import Menu from "@/layouts/header/Menu";

export default {
  name: "Hamburger",
  components: {Menu},
  data() {
    return {
      mobile_menu_show: false
    }
  }
}
</script>

<style scoped>

</style>
