<template>
  <div class="photo-slider">
    <div class="photo-slider__container" ref="container">
      <div class="photo-slider__row"
           :style="{left: `${leftOffset}px`}"
           v-touch:swipe.right="() => {current--}"
           v-touch:swipe.left="() => {current++}"
      >
        <div class="photo-slider__item" :style="{width: (itemWidth ? `${itemWidth}px` : undefined)}"
             :ref="`item-${i+1}`" v-for="(item, i) in items">
          <img :src="item.img"/>
        </div>
      </div>
    </div>
    <div class="photo-slider__control">
      <a class="photo-slider__left" @click="current--"></a>
      <div class="photo-slider__counter">{{ currentIndex }} из {{ items.length }}</div>
      <a class="photo-slider__right" @click="current++"></a>
    </div>
  </div>
</template>

<script>
export default {
  name: "PhotoSlider",
  props: {
    items: {
      type: Array,
      default: () => {
        return [
          {
            img: undefined
          }
        ]
      }
    }
  },
  data() {
    return {
      currentIndex: 1,
      itemWidth: undefined
    }
  },
  computed: {
    isTouch() {
      return ['xs', 'sm'].indexOf(this.$mq) !== -1
    },
    leftOffset() {
      if (!this.current || !this.itemWidth) {
        return 0;
      } else {
        console.log(this.itemWidth);
        return -1 * (this.current - 1) * this.itemWidth;
      }
    },
    current: {
      set(value) {
        const counterOffset = (this.isTouch ? 0 : 1)
        if (value <= 0) {
          this.currentIndex = 1;
        } else if (value >= this.items.length - counterOffset) {
          this.currentIndex = this.items.length - counterOffset;
        } else {
          this.currentIndex = value
        }
      },
      get() {
        return this.currentIndex
      }
    }
  },
  mounted() {
    // this.itemWidth = this.$refs["item-1"][0].clientWidth;
    if (!this.isTouch) {
      this.itemWidth = this.$refs.container.clientWidth / 2 + 1;
    } else {
      this.itemWidth = this.$refs.container.clientWidth;
    }
  }
}
</script>

<style>

</style>
