<template>
  <div>
    <BaseLink href="#" color="link-light" :icon="null" append-icon="plus" @click.stop.prevent="requisite_show=true">
      Реквизиты
    </BaseLink>
    <RedPopup v-model="requisite_show" has_close_button>
        <div v-html="content"></div>
<!--        <p>Общество с&nbsp;ограниченной ответственностью «Цельсий»</p>-->
<!--        <p>ИНН/КПП: 3&nbsp;849&nbsp;013&nbsp;904/380&nbsp;801&nbsp;001</p>-->
<!--        <p>ОГРН: 1&nbsp;113&nbsp;850&nbsp;002&nbsp;914</p>-->
<!--        <p>Юр. адрес: 664&nbsp;011, Россия, г.&nbsp;Иркутск, ул. Горького, 36Б, офис 1-17.</p>-->
<!--        <p class="has-text-accent-light pt-6">Банковские реквизиты</p>-->
<!--        <p>СИБИРСКИЙ ФИЛИАЛ АО&nbsp;«РАЙФФАЙЗЕНБАНК» Г. НОВОСИБИРСК</p>-->
<!--        <p>БИК: 045&nbsp;004&nbsp;799</p>-->
<!--        <p>Р/с: 40&nbsp;702&nbsp;810&nbsp;407&nbsp;000&nbsp;012&nbsp;432</p>-->
<!--        <p>К/с: 30&nbsp;101&nbsp;810&nbsp;300&nbsp;000&nbsp;000&nbsp;799</p>-->
    </RedPopup>
  </div>
</template>

<script>
import RedPopup from "@/components/RedPopup";
import Link from "@/components/Link";

export default {
  name: "RequisitesPopup",
  components: {RedPopup, BaseLink: Link},
  props: {
    content: String
  },
  data() {
    return {
      requisite_show: false
    }
  },
}
</script>

<style scoped>

</style>
