<template>
  <div class="subscribe-block">
    <h2 class="has-text-black" id="subscribe">
      Будьте в курсе!<br>
      Подпишитесь на обновление раздела.
    </h2>
    <form class="subscribe-form pt-14">
      <div class="input-wrapper">
        <input v-model="email" type="text" placeholder="Эл. почта"/>
        <a class="input-submit-button" :class="status" @click.prevent="submit"></a>
      </div>
      <div class="agree-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        <div class="is-inline-block">
          Согласен с
          <Link href="/policy" :icon="null">Политикой конфиденциальности</Link>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Link from "@/components/Link";

export default {
  name: "SubscribeBlock",
  components: {Link},
  data() {
    return {
      email: "",
      status: undefined
    }
  },
  methods: {
    submit() {
      if (!!this.status) return false;
      this.status = "submitting"
      new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve()
        }, 1000)
      })
        .then(() => {
          this.status = "submitted"
        })
        .catch(() => {
          this.has_error = true;
        })
    }
  }
}
</script>

<style scoped>

</style>
